html {
  background-color: #7A7265;
  color: #433E3F;
}

body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top:0;
  margin-bottom: 0;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #C69C72;
  border-radius: 3px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #C0B7B1;
}

h1 {
  padding: 20px;
  width: 100%;
  background-color: #C0B7B1;
}

td {
  padding: 20px;
}

.thumbnail {
  width: 200px;
}

.Fulllist {
  width: 100%;
}

td {
  border-bottom: solid;
  border-bottom-width: thin;
}

.bigImg {
  display: inline-block
}

#mapid {
  float: right;
}

input[name=text] {
  height: 6em;
  width: 50%;
}